body {
    color: white;
    font-family: Karla, sans-serif;
    font-weight: 200;
    font-size: 1.12rem;
    line-height: 1.4;
    background-image: url("../images/image-de-fond2.jfif");
    background-size: cover;
    background-position: bottom center;
    text-align: center;
}

image {
    max-width: 100%;
    height: auto;
}

h1 {
    color: white;
    border: 4px dotted #61328f;
    text-align: center;
    text-shadow: white 10px 0 10px;
}

.purple {
    background-color: #61328f;
}

a:hover {
    background-color: #61328f;
    color: white
}

li {
    list-style-position: inside;
    list-style-type: none;
}

li::before {
    content: "-> ";
    font-size: 1.5rem;
}