body {
    background: #d970ff;
    color: white;
    font-family: Karla;
    background-image: url("../icone/image 2.jfif");
    background-size: cover;
    background-position: bottom center;
    text-align: center;

}

image {
    max-width: 100%;
    height: auto;
}

h1 {
    color: white;
    border: 4px dotted #61328f;
    text-align: center;
    text-shadow: white 10px 0 10px;
}

.purple {
    background-color: #61328f;
}

a[href] {
    background-color: #61328f;
    color: white
}

li {
    list-style-position: inside;
    list-style-type: none;
}

li::before {
    content: "-> ";
    font-size: 1.5rem;
}